body{
    margin: 0;
    padding: 0;
}
.head{
    color: red;
    text-align: center;
}
.ctime-lbl{
    color: black;
    text-decoration: solid;
    margin-left: 100px;
}
.div1{
    border: 2px;
    border-style: solid;
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 15%;
}